/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_se.h"

#define COLEMAK   0
#define NAVI      1
#define SYMB      2
#define MEDIA     3
#define ONE_SHOT  4

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
  combos {
    compatible = "zmk,combos";
    combo_layer_three {
      timeout-ms = <50>;
      key-positions = <31 34>;
      bindings = <&mo MEDIA>;
    };
  };
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    los: layer_one_shot {
      compatible = "zmk,behavior-hold-tap";
      label = "LAYER_ONE_SHOT";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&sl>;
    };
    lt: layer_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "LAYER_TAP";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };
  keymap {
    compatible = "zmk,keymap";

    colemak_dh_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp SE_Q      &kp SE_W      &kp SE_F      &kp SE_P      &kp SE_B          &kp SE_J      &kp SE_L      &kp SE_U      &kp SE_Y     &kp SE_BSLS   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hm LGUI SE_A &hm LALT SE_R &hm LCTRL SE_S &hm LSHIFT SE_T &hm LG(LS(LALT))  SE_G         &hm LG(LS(LALT)) SE_M    &hm RSHIFT SE_N &hm RCTRL SE_E &hm RALT SE_I &hm RGUI SE_O
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp SE_Z      &kp SE_X      &kp SE_C      &kp SE_D      &kp SE_V          &kp SE_K      &kp SE_H     &kp SE_COMM    &kp SE_DOT   &kp SE_MINS
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &kp ESC   &lt NAVI SPACE &mt LC(LS(LALT)) TAB &kp RET  &lt SYMB BSPC    &sl ONE_SHOT
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    lower_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &trans      &kp N7        &kp N8        &kp N9        &trans            &trans    &kp LG(LA(LEFT)) &kp LG(LA(RIGHT)) &trans     &trans   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans    &hm LALT N4   &hm LCTRL N5   &hm LSHIFT N6     &trans           &kp LEFT      &kp DOWN       &kp UP       &kp RIGHT      &trans 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans       &kp N1       &kp N2        &kp N3         &kp N0           &trans     &kp LA(LS(LEFT)) &kp LA(LS(RIGHT)) &trans     &trans
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &trans        &trans        &trans            &trans        &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    raise_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp SE_AT   &kp SE_ASTR  &td LC(LG(LS(N4))) SE_PIPE &kp SE_AMPR &kp SE_BSLS &kp SE_ACUT   &kp SE_DLR    &kp SE_EXLM  &kp SE_QUES   &kp SE_SECT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hm LGUI SE_MINS &hm LALT SE_PLUS &hm LCTRL SE_LABK &hm LSHIFT SE_EQL &kp SE_SLSH &kp SE_QUOT &hm RSHIFT SE_LPRN &hm RCTRL SE_LCBR &hm RALT SE_LBRC &hm RGUI SE_AT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp SE_CIRC   &kp SE_TILD   &kp SE_RABK   &kp SE_HASH   &kp SE_PERC       &kp SE_DQUO   &kp SE_RPRN   &kp SE_RCBR   &kp SE_RBRC   &kp SE_EURO
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &trans        &trans        &trans            &trans        &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    media_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &trans         &trans       &trans        &trans        &trans            &trans         &trans       &trans        &trans        &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &trans         &trans    &kp C_BRI_DEC &kp C_BRI_INC    &trans            &trans       &kp C_PREV    &kp C_PP      &kp C_NEXT     &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_CLR          &trans      &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP    &trans
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &trans        &trans        &trans            &trans        &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

    one_shot_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &trans        &kp F9        &kp F10      &kp F11       &kp F12           &trans         &trans       &trans        &trans        &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans        &kp F5        &kp F6       &kp F7         &kp F8           &caps_word      &kp SE_ARNG   &kp SE_ADIA   &kp SE_ODIA     &trans
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans        &kp F1        &kp F2       &kp F3         &kp F4           &trans        &trans        &trans        &trans        &trans
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &trans        &trans        &trans            &trans        &trans        &trans
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

  };
};
